@charset "utf-8";

/*
	Jeff Hamilton
	Project 1: CSS Sheet 2
	
*/

/* Variables (HSL color palette) */
:root {
  --bg-light: hsl(210, 30%, 95%);
  --bg-mid:   hsl(210, 30%, 90%);
  --accent:   hsl(210, 40%, 80%);
  --text-default: rgb(20, 20, 20);
}
/* Global styles */

body {
  background-color: hsl(178 100% 80.8%);
  color: var(--text-default);
  font-family: Times New Roman, sans-serif;
}
/*contextual/attribute selector*/
nav.horizontal {
   background-color: rgb(182, 220, 107);
   clear: both;
}
/*format list background*/
li {
   color: rgb(31, 73, 125);
}

/* Link pseudo‑classes */
a:link { text-decoration: none; }
a:visited { color: rgb(70, 70, 70); }
a:hover { color: blue; }
a:active { color: rgb(30,30,100); }
a {
	font: arial; 
}

footer {
   background-color: rgb(182, 220, 107);
}
ul {
	list-style: none;
}

article {
	background-color: white;
}

h1 {
	font: bold;
}

#main {
	background: white;
}
#topics {
	background: hsl(118 100% 72.1%);
}
#mainmenu {
	background: red;
}
#special {
	background: hsl(298 11.4% 72.1%);
}
#mission {
	color: green;
	font-family: comic sans ms;
}
#name {
	color: orange;
	font-family: impact;
}
#plan {
	color: red;
	font: bold;
}
#apart {
	background: hsl(118 100% 72.1%);
}

form#contact > fieldset {
	background-color: rgb(241, 232, 181);
}

legend {
	background-color: rgb(47, 124, 17);
	color: white;
	padding: 5px;
}

/*focus psuedo class*/
input:focus, select:focus, textarea:focus {
	background-color: rgb(220, 255, 220);
}

/*valid and invalid seclected boxes*/
input#custname:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#email:focus:valid {
	background: rgb(220, 255, 220) url(rb_valid.png) bottom right/contain no-repeat;
}
input#custname:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid,
input#email:focus:invalid {
	background: rgb(255, 232, 233) url(rb_invalid.png) bottom right/contain no-repeat;
}